{
  "branches": [
    "main",
    {
      "name": "develop",
      "channel": "beta",
      "prerelease": "beta"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "dist",
        "npmPublish": true,
        "registry": "https://npm.pkg.github.com/"
      }
    ],
    "@semantic-release/github"
  ]
}
